/idea
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/encodings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/untitled.iml
.idea/vcs.xml
.idea/workspace.xml
